
<div class="grid align__item login-form">

  <div class="register">
    <div class="register__location-svg">
      <svg xmlns="http://www.w3.org/2000/svg" class="site__logo" width="56" height="84" viewBox="77.7 214.9 274.7 412">
        <defs>
          <linearGradient id="a" x1="0%" y1="0%" y2="0%">
            <stop offset="0%" stop-color="#8ceabb"/>
            <stop offset="100%" stop-color="#378f7b"/>
          </linearGradient>
        </defs>
        <path fill="url(#a)"
              d="M215 214.9c-83.6 123.5-137.3 200.8-137.3 275.9 0 75.2 61.4 136.1 137.3 136.1s137.3-60.9 137.3-136.1c0-75.1-53.7-152.4-137.3-275.9z"/>
      </svg>
    </div>


    <h1>Please register!</h1>

    <form [formGroup]="form" (submit)="submit()" class="form">

      <div class="form__field">
        <input type="text" formControlName="name" placeholder="Janez Novak">
        <div *ngIf="form.get('name')?.errors && form.get('name')?.errors?.['required'] && form.get('name')?.touched">Name is required</div>
      </div>

      <div class="form__field">
        <input type="email" formControlName="email" placeholder="name@example.com">
        <div *ngIf="form.get('email')?.errors && form.get('email')?.errors?.['required'] && form.get('email')?.touched">Email is required</div>
        <div *ngIf="form.get('email')?.errors && form.get('email')?.errors?.['email'] && form.get('email')?.touched">Invalid email format</div>
      </div>

      <div class="form__field">
        <input type="password" formControlName="password" placeholder="Password">
        <div *ngIf="form.get('password')?.errors && form.get('password')?.errors?.['required'] && form.get('password')?.touched">Password is required</div>
      </div>

      <div class="form__field">
        <input type="password" formControlName="password2" placeholder="Repeat password">
        <div *ngIf="form.get('password2')?.errors && form.get('password2')?.errors?.['required'] && form.get('password2')?.touched">Repeat password is required</div>
        <div *ngIf="form.errors && form.errors['notSame'] && form.get('password2')?.touched">Passwords do not match</div>
      </div>

      <div class="form__field">
        <input type="submit" value="Register">
      </div>

      <div class="alert alert-danger" *ngIf="isSignUpFailed">
        Registration failed!<br />{{ errorMessage }}
      </div>

      <div *ngIf="isSuccessful">Registration was successful!</div>

    </form>

    <p>Already have an accout? <a style="text-decoration: underline;" href="/login">Log in</a></p>

  </div>

</div>
