<p-table [value]="pois" [tableStyle]="{ 'min-width': '50rem' }" [styleClass]="tableSmall">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Distance from location</th>
            <th>Rating</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-poi>
        <tr>
            <td>{{ poi.properties.name }}</td>
            <td>{{ Math.floor(poi.properties.distance) }}m</td>
            <td>{{ poi.rating | number: '1.2-2' }}%</td>
        </tr>
    </ng-template>
</p-table>
