<div class="form-signin w-100 m-auto">
  <form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Please log in</h1>

    <div class="form-floating">
      <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    </div>

    <div class="form-floating">
      <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>

    <div *ngIf="isLoginFailed" class="alert alert-danger"> Login failed: {{ errorMessage }}</div>
    <div class="alert alert-success" *ngIf="isLoggedIn"> Log in was successful!</div>
  </form>
</div>
