
<div class="map-leaflet__container">

  <div class="map-leaflet__col map-leaflet__map">
    <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
    </div>
  </div>


  <app-location-report-view class="map-leaflet__col map-leaflet__location">
  </app-location-report-view>

</div>

<app-base-modal [showModal]="showModal">

  <div class="d-flex flex-column gap-3">
<!--    <label class="my-2" for="reportName">Please name your report</label>-->
<!--    <input class="border p-3 my-2 mb-4" id="reportName" matInput [(ngModel)]="reportName" placeholder="Report name">-->
    <div class="m-3">
      Please pick preferred quality of life parameters!
    </div>
    <div class="d-flex" style="gap: 12px">
       <button class="btn btn-secondary flex-grow-1" type="button" (click)="showModal = false">Back to map</button>
       <button class="btn btn-primary flex-grow-1" type="button" (click)="onBackToPreferences()">Select preferences</button>
    </div>
  </div>

</app-base-modal>
