
<div class="map-leaflet__container">

  <div class="map-leaflet__col map-leaflet__map">
    <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
    </div>
  </div>


  <app-location-report-view class="map-leaflet__col map-leaflet__location">
  </app-location-report-view>

</div>

<!-- Confirmation Dialog -->
<p-dialog header="No preferences selected" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }">
  <p>
    You don't have any quality of life parameters selected!
    Please go to home page and select some.
  </p>
  <div class="d-flex justify-content-center">
    <button pButton type="button" label="Go to home page" (click)="onBackToPreferences()"></button>
  </div>
</p-dialog>
