<!--<div class="container rounded bg-white p-5 mt-4 mb-4" style="top: 80px; max-width: 90%">-->
      <p-table [value]="reportsSortableData"
               [tableStyle]="{ 'min-width': '50rem' }"
               [paginator]="true"
               [rows]="5"
               [showCurrentPageReport]="true"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [rowsPerPageOptions]="[10, 25, 50]"
      >
        <ng-template pTemplate="header">
            <tr>
<!--                <th pSortableColumn="Report id" style="width:20%">Report id <p-sortIcon field="Report id"></p-sortIcon></th>-->
                <th pSortableColumn="reportName" style="width:10%">Name <p-sortIcon field="reportName"></p-sortIcon></th>
                <th pSortableColumn="minDistance" style="width:10%">Min distance<p-sortIcon field="minDistance"></p-sortIcon></th>
                <th pSortableColumn="maxDistance" style="width:10%">Max distance<p-sortIcon field="maxDistance"></p-sortIcon></th>

                <th pSortableColumn="zdravjeRating" style="width:14%"> {{convertToEnglish('Zdravje')}} <p-sortIcon field="zdravjeRating"></p-sortIcon></th>
                <th pSortableColumn="okoljeRating" style="width:14%"> {{convertToEnglish('Okolje')}}  <p-sortIcon field="okoljeRating"></p-sortIcon></th>
                <th pSortableColumn="transportRating" style="width:15%">{{convertToEnglish('Transport')}}  <p-sortIcon field="transportRating"></p-sortIcon></th>
                <th pSortableColumn="izobrazevanjeRating" style="width:20%">{{convertToEnglish('Izobraževanje')}}  <p-sortIcon field="izobrazevanjeRating"></p-sortIcon></th>
                <th pSortableColumn="overall_rating" style="width:30%"> {{convertToEnglish('Skupna ocena')}} <p-sortIcon field="overall_rating"></p-sortIcon></th>
                <th style="width:30%">{{convertToEnglish('St. izbranih kategorij')}} </th>
                <th style="width:10%"></th>
                <th style="width:10%"></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-report>
            <tr>
<!--                <td>{{ report._id }}</td>-->
                <td>{{ report.reportName }}</td>
                <td>{{ report.minDistance }} m</td>
                <td>{{ report.maxDistance }} m</td>

                <td *ngIf="report.zdravjeRating !== '-'">{{ report.zdravjeRating }}%</td>
                <td *ngIf="report.zdravjeRating === '-'">{{ report.zdravjeRating }}</td>

                <td *ngIf="report.okoljeRating !== '-'">{{ report.okoljeRating }}%</td>
                <td *ngIf="report.okoljeRating === '-'">{{ report.okoljeRating }}</td>

                <td *ngIf="report.transportRating !== '-'">{{ report.transportRating }}%</td>
                <td *ngIf="report.transportRating === '-'">{{ report.transportRating }}</td>

                <td *ngIf="report.izobrazevanjeRating !== '-'">{{ report.izobrazevanjeRating }}%</td>
                <td *ngIf="report.izobrazevanjeRating === '-'">{{ report.izobrazevanjeRating }}</td>

                <td>{{ report.overall_rating }}%</td>
                <td>{{ report.number_of_selected_categories }}</td>

                <td>
                    <!-- PrimeIcon for map -->
                    <i class="pi pi-map-marker" (click)="viewOnMap(report)"></i>
                </td>

                <td>
                    <!-- PrimeIcon for delete -->
                    <i class="pi pi-trash" (click)="deleteReport(report)"></i>
                </td>

        </ng-template>
    </p-table>
<!--</div>-->
