<div class="card">
    <p-table [value]="reports" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Zdravje</th>
                <th>Okolje</th>
                <th>Transport</th>
                <th>Izobrazevanje</th>
                <th>Skupna ocena</th>
<!--                <th>Category</th>-->
<!--                <th>Quantity</th>-->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-report>
            <tr>
                <td>{{ report._id }}</td>
                <td>{{ report.reportName }}</td>
                <td>{{ report.categories.Zdravje.groupRating }}</td>
                <td>{{ report.categories.Okolje.groupRating }}</td>
                <td>{{ report.categories.Transport.groupRating }}</td>
                <td>{{ report.categories.Izobrazevanje.groupRating }}</td>
                <td>{{ report.overall_rating }}</td>

<!--                <td>{{ report.category }}</td>-->
<!--                <td>{{ report.quantity }}</td>-->
            </tr>
        </ng-template>
    </p-table>
</div>
