
<div class="container rounded bg-white p-4 mt-4 mb-4" style="max-width: 98%">
  <p-tabView>
    <p-tabPanel header="Categories">
      <app-location-report-table
        [reportsSortableData]="reportsCategories"
      ></app-location-report-table>
    </p-tabPanel>
    <p-tabPanel header="Family">
      <app-location-report-table
        [reportsSortableData]="reportsFamilyProfile"
      ></app-location-report-table>
    </p-tabPanel>
    <p-tabPanel header="Senior">
      <app-location-report-table
        [reportsSortableData]="reportsSeniorProfile"
      ></app-location-report-table>
    </p-tabPanel>
    <p-tabPanel header="Student">
      <app-location-report-table
        [reportsSortableData]="reportsStudentProfile"
      ></app-location-report-table>
    </p-tabPanel>
  </p-tabView>
</div>

