.base-accordion {
  /*box-shadow: rgba(60, 64, 67, 0.3) 0px 7px 8px 0px;*/
  margin-top:-10px;
}
.base-accordion__title {
  opacity: 0.6;
}
.base-accordion__chevron {
  font-size:15px;
  font-weight:bold;
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
}

.base-accordion__pointer {
  width:15px;
  height:15px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.base-accordion__chevron.rotated {
  transform: rotate(90deg);
}
