
<div class="container rounded bg-white p-5 mt-4 mb-4" style="top: 80px;">
      <h5 class="d-flex align-items-center">Category<div class="flex-grow-1 text-center">{{this.locationReport.reportName ? this.locationReport.reportName : ''}}</div> <span class="">Rating</span></h5>
      <div class="custom-border-bottom mb-4"></div>
      <div class="mb-4" *ngFor="let group of groupedMarkerEntries">
          <!-- Check if group.value is of type GroupedMarkers -->
            <ng-container *ngIf="group[1]?.groupRating !== undefined && group[1]?.markers">
                <h3 class="d-flex align-items-center px-2">{{ group[0] }}
                  <div class="custom-border-bottom mx-4"></div>

                  <span *ngIf="group[1].groupRating == -999"> - </span>
                  <span *ngIf="group[1].groupRating != -999">{{ group[1].groupRating | number: '1.2-2' }}%</span>
                </h3>
<!--                <ul class="pl-5" *ngIf="Array.isArray(group[1].markers)">-->
<!--                    <li *ngFor="let marker of group[1].markers">-->
<!--                        {{ marker.properties.name }} | {{ Math.floor(marker.properties.distance) }}m | {{ marker.rating | number: '1.2-2' }}-->
<!--                    </li>-->
<!--                </ul>-->
              <app-base-accordion [accTitle]="group[0]" *ngIf="group[1].markers.length > 0">
                  <ul class="pl-5" >
                    <li *ngFor="let marker of group[1].markers">
                        {{ marker.properties.name }} | {{ Math.floor(marker.properties.distance) }}m | {{ marker.rating | number: '1.2-2' }}
                    </li>
                  </ul>
              </app-base-accordion>
            </ng-container>
      </div>
    <h2 class="d-flex align-items-center">Overall Rating:<div class="custom-border-bottom mx-3"></div> <span class="">{{ locationReport.overall_rating | number: '1.2-2' }}%</span></h2>

      <div class="d-flex flex-column align-items-center">
  <!--      <button class="btn btn-primary mb-4 " type="button" (click)="onSaveSubmit()">Save location report</button>-->
        <button class="btn btn-primary mb-4 " type="button" (click)="openDialog()">Save location report</button>
      </div>

</div>

<app-base-modal [showModal]="showModal">

  <div class="d-flex flex-column gap-3">
    <label class="my-2" for="reportName">Please name your report</label>
    <input class="border p-3 my-2 mb-4" id="reportName" matInput [(ngModel)]="reportName" placeholder="Report name">
    <div class="d-flex" style="gap: 12px">
       <button class="btn btn-secondary flex-grow-1" type="button" (click)="showModal = false">Cancel</button>
       <button class="btn btn-primary flex-grow-1" type="button" [disabled]="reportName.length < 1" (click)="onSaveSubmit()">Submit</button>
    </div>
  </div>

</app-base-modal>
