<div class="rounded bg-white pt-5 pl-5 pr-5 pb-3 mt-4 mb-4">
      <h5 class="text-center"> Report type: {{this.reportType}} </h5>
      <h5 class="d-flex align-items-center">Category<div class="flex-grow-1 text-center">{{this.locationReport.reportName ? this.locationReport.reportName : ''}}</div> <span class="">Rating</span></h5>
      <div class="custom-border-bottom mb-4"></div>
      <div class="mb-4" *ngFor="let group of groupedMarkerEntries">
          <!-- Check if group.value is of type GroupedMarkers -->
            <ng-container *ngIf="group[1]?.groupRating !== undefined">
                <h4 class="d-flex align-items-center px-2">{{ convertToEnglish(group[0]) }}
                  <div class="custom-border-bottom mx-4"></div>

                  <span *ngIf="group[1].groupRating == -999"> - </span>
                  <span *ngIf="group[1].groupRating != -999">{{ group[1].groupRating | number: '1.2-2' }}%</span>
                </h4>

                <p-accordion [activeIndex]="1">
                    <p-accordionTab header="Show more" *ngIf="group[1].bestMarkers.length > 0">
<!--                      <app-pois-data-table [pois]="group[1].markers">-->
                      <app-pois-data-table [pois]="group[1].bestMarkers">
                      </app-pois-data-table>
                    </p-accordionTab>
                </p-accordion>

            </ng-container>
      </div>

    <h3 class="d-flex align-items-center">
      Overall Rating:
      <div class="custom-border-bottom mx-3"></div>
      <span *ngIf="locationReport.overall_rating == -999"> - </span>
      <span *ngIf="locationReport.overall_rating != -999">{{ locationReport.overall_rating | number: '1.2-2' }}%</span>
    </h3>

      <div class="d-flex flex-column align-items-center">
  <!--      <button class="btn btn-primary mb-4 " type="button" (click)="onSaveSubmit()">Save location report</button>-->
<!--        <button class="btn btn-primary mb-2 " type="button" (click)="openDialog()">Save location report</button>-->
        <p-button label="Save location report" styleClass="p-button-sm" (click)="openDialog()"></p-button>

      </div>

</div>

<!--<app-base-modal [showModal]="showModal">-->

<!--  <div class="d-flex flex-column gap-3">-->
<!--    <label class="my-2" for="reportName">Please name your report</label>-->
<!--    <input class="border p-3 my-2 mb-4" id="reportName" matInput [(ngModel)]="reportName" placeholder="Report name">-->
<!--    <div class="d-flex" style="gap: 12px">-->
<!--       <button class="btn btn-secondary flex-grow-1" type="button" (click)="showModal = false">Cancel</button>-->
<!--       <button class="btn btn-primary flex-grow-1" type="button" [disabled]="reportName.length < 1" (click)="onSaveSubmit()">Submit</button>-->
<!--    </div>-->
<!--  </div>-->

<!--</app-base-modal>-->

<!-- Confirmation Dialog -->
<p-dialog header="Please name your report:" [(visible)]="visible" [modal]="true" [style]="{ width: '30vw' }">
<!--  <label class="my-2" for="reportName">Please name your report</label>-->
<!--  <input class="border p-3 my-2 mb-4" id="reportName" matInput [(ngModel)]="reportName" placeholder="Report name">-->
  <div class="d-flex justify-content-center">
    <input pInputText class="p-3 mb-4" type="text" placeholder="Report name" [(ngModel)]="reportName" />
  </div>
  <div class="d-flex justify-content-center">
    <button pButton type="button" label="Submit" [disabled]="reportName.length < 1" (click)="onSaveSubmit()"></button>
  </div>
</p-dialog>
