.selected {
  transition: all 0.2s ease-in-out;
  background-color: lightgreen !important;
  /*opacity: 0.8;*/
  /*background: #71CB9F !important;*/
}

.p-tabPanel--custom-container {
  /*gap: 40px ;*/
}

.dropdown-button {
  background-color: #007bff !important;
}

.home-page{
  max-width: 80%;
}

.equal-flex-container {
    display: flex;
    justify-content: space-between;
}

/*.equal-flex-item {*/
/*    flex: 1;*/
/*    margin: 0 10px; !* Optional, for spacing between cards *!*/
/*}*/

.equal-flex-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 10px; /* Optional, for spacing between cards */
}

.p-card-class {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: red;
}
