<div class="home-page container rounded bg-white mt-4 mb-4">

  <div class="d-flex flex-column align-items-center text-center pt-4">
<!--    <h3> Pozdravljeni, {{this.user.name}}! </h3>-->
    <h3> Hello, {{this.user.name}}! </h3>

<!--    <h5> Izberite parametre, ki so pomembni za kvaliteto vašega bivanja: </h5>-->
    <h5> Choose the parameters that are important for your quality of life: </h5>

<!--    <label for="distanceDropdown" class="mt-2"> Izberite razdaljo vašega iskanja: </label>-->
    <label for="distanceDropdown" class="mt-2"> Select the distance of your search: </label>

    <div class="dropdown mt-2 mb-2">
      <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="distanceDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ selectedDistance + 'm' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="distanceDropdown">
        <a class="dropdown-item" (click)="updateDistance('400')">400m</a>
        <a class="dropdown-item" (click)="updateDistance('600')">600m</a>
        <a class="dropdown-item" (click)="updateDistance('800')">800m</a>
      </div>
    </div>

  </div>

  <!-- PrimeNG TabView component -->
  <p-tabView [(activeIndex)]="activeIndex">

    <!-- Profiles Tab -->
    <p-tabPanel header="Profiles" [disabled]="disableProfilesHeader">
      <!-- PrimeNG Cards for Profiles -->
      <div class="p-tabPanel--custom-container d-flex justify-content-center">
        <!-- Family Friendly Card -->
        <div class="p-col-6" (click)="setSelectedProfile('Family')" [ngClass]="{'selected': selectedProfile === 'Family'}">
            <p-card header="{{this.profileOptions[0].name + ' friendly'}}" [style]="{background: 'transparent', textAlign: 'center'}">
              <p> {{this.profileOptions[0].descriptionENG}} </p>
            </p-card>
        </div>

        <!-- Pensioner Friendly Card -->
        <div class="p-col-6" (click)="setSelectedProfile('Pensioner')" [ngClass]="{'selected': selectedProfile === 'Pensioner'}">
            <p-card header="{{this.profileOptions[1].name + ' friendly'}}" [style]="{background: 'transparent', textAlign: 'center'}">
              <p> {{this.profileOptions[1].descriptionENG}} </p>
            </p-card>
        </div>
      </div>
    </p-tabPanel>

    <!-- Categories Tab -->
    <p-tabPanel header="Categories" [disabled]="disableCategoriesHeader">
      <div *ngFor="let option of options" class="d-flex gap-3" >
        <mat-checkbox [(ngModel)]="option.selected" (change)="onCheckboxClicked()">
          <span >
            {{ checkOptionName(option.name) }}:
            {{ option.descriptionENG }}
          </span>
        </mat-checkbox>
      </div>
    </p-tabPanel>

  </p-tabView>


<!--  <div *ngFor="let option of options" class="d-flex gap-3">-->
<!--    <mat-checkbox [(ngModel)]="option.selected">-->
<!--      <span >-->
<!--        {{ checkOptionName(option.name) }}:-->
<!--        {{ option.description }}-->
<!--      </span>-->
<!--    </mat-checkbox>-->
<!--  </div>-->

  <div class="d-flex flex-column align-items-center">
    <button class="btn btn-primary mb-4 " type="button" (click)="onPreferenceSubmit()">Submit Preferences</button>
  </div>

</div>
