



<div class="container rounded bg-white mt-4 mb-4">

  <div class="d-flex flex-column align-items-center text-center pt-4">
    <h3> Pozdravljeni, {{this.user.name}}! </h3>

    <h5> Izberite parametre, ki so pomembni za kvaliteto vašega bivanja: </h5>

    <label for="distanceDropdown" class="mt-2"> Izberite razdaljo vašega iskanja: </label>

    <div class="dropdown mt-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="distanceDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ selectedDistance + 'm' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="distanceDropdown">
        <a class="dropdown-item" (click)="updateDistance('500')">500m</a>
        <a class="dropdown-item" (click)="updateDistance('800')">800m</a>
        <a class="dropdown-item" (click)="updateDistance('1000')">1000m</a>
      </div>
    </div>

  </div>

  <div *ngFor="let option of options" class="d-flex gap-3">
    <mat-checkbox [(ngModel)]="option.selected">
      <span >
        {{ checkOptionName(option.name) }}:
        {{ option.description }}
      </span>
    </mat-checkbox>
  </div>

  <div class="d-flex flex-column align-items-center">
    <button class="btn btn-primary mb-4 " type="button" (click)="onPreferenceSubmit()">Submit Preferences</button>
  </div>

</div>
