<div class="home-page container rounded bg-white mt-4 mb-4">

  <div class="d-flex flex-column align-items-center text-center pt-4">

    <h3> Hello, {{this.user.name}}! </h3>

    <h5> Please choose the parameters that are important for quality of your life! </h5>

    <label for="distanceDropdown" class="mt-2"> Modify the distances of your search: </label>

        <!-- Distance Input Fields -->
    <div class="d-flex justify-content-center input-spacing mt-2 mb-2">
        <div>
            <label for="min" class="mr-2">Min distance:</label>
            <p-inputNumber [(ngModel)]="minDistance" inputId="min" suffix=" m" [maxFractionDigits]=0 [min]="0" [max]="1999" mode="decimal" [useGrouping]="false" (onBlur)="validateMinMax()"> </p-inputNumber>
        </div>

        <div>
            <label for="max" class="mr-2">Max distance:</label>
            <p-inputNumber [(ngModel)]="maxDistance" inputId="max" suffix=" m" [min]="0" [max]="2000" mode="decimal" [useGrouping]="false" (onBlur)="validateMinMax()"> </p-inputNumber>
        </div>
    </div>

    <!-- Display the error message if min is greater than max -->
    <div *ngIf="!isValidMinMax" class="text-danger mb-4">
        Min value should not be greater than Max value.
    </div>

  </div>

  <!-- PrimeNG TabView component -->
  <p-tabView [(activeIndex)]="activeIndex">

    <!-- Profiles Tab -->
    <p-tabPanel header="Profiles" [disabled]="disableProfilesHeader">
      <!-- PrimeNG Cards for Profiles -->
      <div class="equal-flex-container ">
        <!-- Family Friendly Card -->
        <div class="equal-flex-item" (click)="setSelectedProfile('Family')" [ngClass]="{'selected': selectedProfile === 'Family'}">
            <p-card header="{{this.profileOptions[0].name + ' friendly'}}" [style]="{background: 'transparent', textAlign: 'center'}">
              <p> {{this.profileOptions[0].descriptionENG}} </p>
            </p-card>
        </div>

        <!-- Pensioner Friendly Card -->
        <div class="equal-flex-item" (click)="setSelectedProfile('Pensioner')" [ngClass]="{'selected': selectedProfile === 'Pensioner'}">
            <p-card header="{{this.profileOptions[1].name + ' friendly'}}" [style]="{background: 'transparent', textAlign: 'center'}">
              <p> {{this.profileOptions[1].descriptionENG}} </p>
            </p-card>
        </div>
      </div>
    </p-tabPanel>

    <!-- Categories Tab -->
    <p-tabPanel header="Categories" [disabled]="disableCategoriesHeader">
      <div *ngFor="let option of options" class="d-flex gap-3" >
        <mat-checkbox [(ngModel)]="option.selected" (change)="onCheckboxClicked()">
          <span >
            <strong>{{ checkOptionName(option.name) }}:</strong>
            {{ option.descriptionENG }}
          </span>
        </mat-checkbox>
      </div>
    </p-tabPanel>

  </p-tabView>

  <div class="d-flex flex-column align-items-center">
    <button class="btn btn-primary mb-4 " type="button" (click)="onPreferenceSubmit()">Submit Preferences</button>
  </div>

</div>
